body {
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  color: black;
  font-size: 42px;
  font-weight: 600;
  text-align: left;
}

p {
  margin: 0px auto;
  text-align: center;
}

.colourGroup {
  padding: 0px 10px;
}

.hex {
  font-size: 12px;
}

td {
  border-color: whitesmoke;
  width: 19vw;
  height: 45px;
}


.LightSalmon {
  background-color: LightSalmon
}

.Salmon {
  background-color: Salmon
}

.DarkSalmon {
  background-color: DarkSalmon
}

.LightCoral {
  background-color: LightCoral
}

.IndianRed {
  background-color: IndianRed
}

.Crimson {
  background-color: Crimson
}

.Red {
  background-color: Red
}

.FireBrick {
  background-color: FireBrick
}

.DarkRed {
  background-color: DarkRed
}

.Orange {
  background-color: Orange
}

.DarkOrange {
  background-color: DarkOrange
}

.Coral {
  background-color: Coral
}

.Tomato {
  background-color: Tomato
}

.OrangeRed {
  background-color: OrangeRed
}

.Gold {
  background-color: Gold
}

.Yellow {
  background-color: Yellow
}

.LightYellow {
  background-color: LightYellow
}

.LemonChiffon {
  background-color: LemonChiffon
}

.LightGoldenRodYellow {
  background-color: LightGoldenRodYellow
}

.PapayaWhip {
  background-color: PapayaWhip
}

.Moccasin {
  background-color: Moccasin
}

.PeachPuff {
  background-color: PeachPuff
}

.PaleGoldenRod {
  background-color: PaleGoldenRod
}

.Khaki {
  background-color: Khaki
}

.DarkKhaki {
  background-color: DarkKhaki
}

.GreenYellow {
  background-color: GreenYellow
}

.Chartreuse {
  background-color: Chartreuse
}

.LawnGreen {
  background-color: LawnGreen
}

.Lime {
  background-color: Lime
}

.LimeGreen {
  background-color: LimeGreen
}

.PaleGreen {
  background-color: PaleGreen
}

.LightGreen {
  background-color: LightGreen
}

.MediumSpringGreen {
  background-color: MediumSpringGreen
}

.SpringGreen {
  background-color: SpringGreen
}

.MediumSeaGreen {
  background-color: MediumSeaGreen
}

.SeaGreen {
  background-color: SeaGreen
}

.ForestGreen {
  background-color: ForestGreen
}

.Green {
  background-color: Green
}

.DarkGreen {
  background-color: DarkGreen
}

.YellowGreen {
  background-color: YellowGreen
}

.OliveDrab {
  background-color: OliveDrab
}

.DarkOliveGreen {
  background-color: DarkOliveGreen
}

.MediumAquaMarine {
  background-color: MediumAquaMarine
}

.DarkSeaGreen {
  background-color: DarkSeaGreen
}

.LightSeaGreen {
  background-color: LightSeaGreen
}

.DarkCyan {
  background-color: DarkCyan
}

.Teal {
  background-color: Teal
}

.Aqua {
  background-color: Aqua
}

.Cyan {
  background-color: Cyan
}

.LightCyan {
  background-color: LightCyan
}

.PaleTurquoise {
  background-color: PaleTurquoise
}

.Aquamarine {
  background-color: Aquamarine
}

.Turquoise {
  background-color: Turquoise
}

.MediumTurquoise {
  background-color: MediumTurquoise
}

.DarkTurquoise {
  background-color: DarkTurquoise
}

.CadetBlue {
  background-color: CadetBlue
}

.SteelBlue {
  background-color: SteelBlue
}

.LightSteelBlue {
  background-color: LightSteelBlue
}

.LightBlue {
  background-color: LightBlue
}

.PowderBlue {
  background-color: PowderBlue
}

.LightSkyBlue {
  background-color: LightSkyBlue
}

.SkyBlue {
  background-color: SkyBlue
}

.CornflowerBlue {
  background-color: CornflowerBlue
}

.DeepSkyBlue {
  background-color: DeepSkyBlue
}

.DodgerBlue {
  background-color: DodgerBlue
}

.RoyalBlue {
  background-color: RoyalBlue
}

.Blue {
  background-color: Blue
}

.MediumBlue {
  background-color: MediumBlue
}

.DarkBlue {
  background-color: DarkBlue
}

.Navy {
  background-color: Navy
}

.MidnightBlue {
  background-color: MidnightBlue
}

.Lavender {
  background-color: Lavender
}

.Thistle {
  background-color: Thistle
}

.Plum {
  background-color: Plum
}

.Orchid {
  background-color: Orchid
}

.Violet {
  background-color: Violet
}

.Fuchsia {
  background-color: Fuchsia
}

.Magenta {
  background-color: Magenta
}

.MediumOrchid {
  background-color: MediumOrchid
}

.DarkOrchid {
  background-color: DarkOrchid
}

.DarkViolet {
  background-color: DarkViolet
}

.BlueViolet {
  background-color: BlueViolet
}

.DarkMagenta {
  background-color: DarkMagenta
}

.Purple {
  background-color: Purple
}

.MediumPurple {
  background-color: MediumPurple
}

.MediumSlateBlue {
  background-color: MediumSlateBlue
}

.SlateBlue {
  background-color: SlateBlue
}

.DarkSlateBlue {
  background-color: DarkSlateBlue
}

.RebeccaPurple {
  background-color: RebeccaPurple
}

.Indigo {
  background-color: Indigo
}

.Pink {
  background-color: Pink
}

.LightPink {
  background-color: LightPink
}

.HotPink {
  background-color: HotPink
}

.DeepPink {
  background-color: DeepPink
}

.PaleVioletRed {
  background-color: PaleVioletRed
}

.MediumVioletRed {
  background-color: MediumVioletRed
}

.Cornsilk {
  background-color: Cornsilk
}

.BlanchedAlmond {
  background-color: BlanchedAlmond
}

.Bisque {
  background-color: Bisque
}

.NavajoWhite {
  background-color: NavajoWhite
}

.Wheat {
  background-color: Wheat
}

.BurlyWood {
  background-color: BurlyWood
}

.Tan {
  background-color: Tan
}

.RosyBrown {
  background-color: RosyBrown
}

.SandyBrown {
  background-color: SandyBrown
}

.GoldenRod {
  background-color: GoldenRod
}

.DarkGoldenRod {
  background-color: DarkGoldenRod
}

.Peru {
  background-color: Peru
}

.Chocolate {
  background-color: Chocolate
}

.Olive {
  background-color: Olive
}

.SaddleBrown {
  background-color: SaddleBrown
}

.Sienna {
  background-color: Sienna
}

.Brown {
  background-color: Brown
}

.Maroon {
  background-color: Maroon
}

.White {
  background-color: White
}

.Snow {
  background-color: Snow
}

.HoneyDew {
  background-color: HoneyDew
}

.MintCream {
  background-color: MintCream
}

.Azure {
  background-color: Azure
}

.AliceBlue {
  background-color: AliceBlue
}

.GhostWhite {
  background-color: GhostWhite
}

.WhiteSmoke {
  background-color: WhiteSmoke
}

.SeaShell {
  background-color: SeaShell
}

.Beige {
  background-color: Beige
}

.OldLace {
  background-color: OldLace
}

.FloralWhite {
  background-color: FloralWhite
}

.Ivory {
  background-color: Ivory
}

.AntiqueWhite {
  background-color: AntiqueWhite
}

.Linen {
  background-color: Linen
}

.LavenderBlush {
  background-color: LavenderBlush
}

.MistyRose {
  background-color: MistyRose
}

.Gainsboro {
  background-color: Gainsboro
}

.LightGray {
  background-color: LightGray
}

.Silver {
  background-color: Silver
}

.DarkGray {
  background-color: DarkGray
}

.DimGray {
  background-color: DimGray
}

.Gray {
  background-color: Gray
}

.LightSlateGray {
  background-color: LightSlateGray
}

.SlateGray {
  background-color: SlateGray
}

.DarkSlateGray {
  background-color: DarkSlateGray
}

.Black {
  background-color: Black;
  color: whitesmoke;
}